# Assignment 2 - Clustering Top FootBall Players

In [1]:
import pandas as pd

In [2]:
# define the features
features = ['Acceleration', 'Agility', 'Balance', 'Ball control', 'Composure',
    'Crossing', 'Curve', 'Dribbling', 'Finishing', 'Free kick accuracy']

In [3]:
# read the data
df = pd.read_csv('players_subset.csv', index_col='ID', usecols=['ID','Name']+features)

In [4]:
df.head()

,Name,Acceleration,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing,Free kick accuracy
ID,,,,,,,,,,,
0,Cristiano Ronaldo,89,89,63,93,95,85,81,91,94,76
1,L. Messi,92,90,95,95,96,77,89,97,95,90
2,Neymar,94,96,82,95,92,75,81,96,89,84
3,L. Suárez,88,86,60,91,83,77,86,86,94,84
4,M. Neuer,58,52,35,48,70,15,14,30,13,11

In [5]:
from sklearn.cluster import KMeans

In [6]:
# define and train the model
model = KMeans(n_clusters=3)
model.fit(df[features])

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [7]:
# centroids of each cluster
model.cluster_centers_

array([[50.13953488, 52.88372093, 45.25581395, 24.48837209, 56.41860465,
        14.46511628, 15.44186047, 16.93023256, 12.79069767, 15.95348837],
       [79.56424581, 81.16201117, 76.92178771, 84.70391061, 81.45810056,
        75.77094972, 77.37988827, 83.24022346, 75.44134078, 70.74860335],
       [63.46153846, 59.3974359 , 55.35897436, 72.01282051, 79.58974359,
        54.34615385, 53.85897436, 63.29487179, 48.71794872, 49.07692308]])

In [8]:
# sum of squared distances (SSD) of players to their closet centroids
model.inertia_

247781.84771456078

In [9]:
# to print the cluster no. of each player with his name
players = pd.DataFrame({'Name': df['Name'], 'Cluster': model.labels_})
players

                  Name  Cluster
ID
0    Cristiano Ronaldo        1
1             L. Messi        1
2               Neymar        1
3            L. Suárez        1
4             M. Neuer        0
..                 ...      ...
295        Fernandinho        1
296        David Villa        1
297    S. Lichtsteiner        1
298        R. Jarstein        0
299      Gabriel Jesus        1

[300 rows x 2 columns]

## Interpretation of the clusters

The features we used here are mainly used to evaluate a player's attacking skills.

In [10]:
players[players['Cluster'] == 0].head(10)

             Name  Cluster
ID
4        M. Neuer        0
6          De Gea        0
12    T. Courtois        0
18      G. Buffon        0
20       J. Oblak        0
29      H. Lloris        0
43  S. Handanovi?        0
68        P. ?ech        0
74       K. Navas        0
76     D. Suba?i?        0

The players in cluster 0 are bad at all skills mentioned above, because these features are not used to evaulate them in real life. They have GK attributes that are not included in our analysis.

Most of them (if not all of them) are goal keepers.

In [11]:
players[players['Cluster'] == 1].head(10)

                 Name  Cluster
ID
0   Cristiano Ronaldo        1
1            L. Messi        1
2              Neymar        1
3           L. Suárez        1
5      R. Lewandowski        1
7           E. Hazard        1
8            T. Kroos        1
9          G. Higuaín        1
10       Sergio Ramos        1
11       K. De Bruyne        1

The players in cluster 1 have good attacking skills like dribbling, crossing and finishing.

They are usually strikers (e.g. C. Ronaldo), wingers (e.g. Messi), attacking midfielders (e.g. De Bruyne), and fullbacks (e.g. Ramos).

In [12]:
players[players['Cluster'] == 2].head(10)

               Name  Cluster
ID
17     G. Chiellini        2
24       L. Bonucci        2
25       J. Boateng        2
26         D. Godín        2
27       M. Hummels        2
30     Thiago Silva        2
44            Piqué        2
53  Sergio Busquets        2
56  T. Alderweireld        2
57       David Luiz        2

The players in cluster 2 are only good at composure. Those defensive attributes are not included in our analysis.

They are usually defenders like center backs (e.g. Chiellini) and defensive midfielders (e.g. Busquets).