### Naive Bayes (Classifier) - Multinomial Naive Bayes

In [1]:
# Import useful libararies used for data management

import numpy as np
import pandas as pd

data = pd.read_csv('Weather.csv')

In [2]:
data.head()

    Outlook Temperature Humidity Windy Play
0     sunny         hot     high    No   no
1     sunny         hot     high   Yes   no
2  overcast         hot     high    No  yes
3     rainy        mild     high    No  yes
4     rainy        cool   normal    No  yes

In [3]:
data.describe()

       Outlook Temperature Humidity Windy Play
count       14          14       14    14   14
unique       3           3        2     2    2
top      rainy        mild   normal    No  yes
freq         5           6        7     8    9

### Data Preparation

In [4]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder
#creating labelEncoder
le = LabelEncoder()

In [5]:
# Converting string labels into numbers.
data['Outlook_encoded'] = le.fit_transform(data['Outlook'])
data['Tem_encoded'] = le.fit_transform(data['Temperature'])
data['Humidity_encoded'] = le.fit_transform(data['Humidity'])
data['Windy_enoded'] = le.fit_transform(data['Windy'])
data['Label'] = le.fit_transform(data['Play'])

In [6]:
data

,Outlook,Temperature,Humidity,Windy,Play,Outlook_encoded,Tem_encoded,Humidity_encoded,Windy_enoded,Label
0,sunny,hot,high,No,no,2,1,0,0,0
1,sunny,hot,high,Yes,no,2,1,0,1,0
2,overcast,hot,high,No,yes,0,1,0,0,1
3,rainy,mild,high,No,yes,1,2,0,0,1
4,rainy,cool,normal,No,yes,1,0,1,0,1
5,rainy,cool,normal,Yes,no,1,0,1,1,0
6,overcast,cool,normal,Yes,yes,0,0,1,1,1
7,sunny,mild,high,No,no,2,2,0,0,0
8,sunny,cool,normal,No,yes,2,0,1,0,1
9,rainy,mild,normal,No,yes,1,2,1,0,1
10,sunny,mild,normal,Yes,yes,2,2,1,1,1
11,overcast,mild,high,Yes,yes,0,2,0,1,1
12,overcast,hot,normal,No,yes,0,1,1,0,1
13,rainy,mild,high,Yes,no,1,2,0,1,0

In [7]:
# define independent attributes 
features = list(data.columns[5:9])
# assign values for independent variables and target variable ('Label')
X = data [features]
y = data ['Label']

In [8]:
features

['Outlook_encoded', 'Tem_encoded', 'Humidity_encoded', 'Windy_enoded']

In [9]:
X

    Outlook_encoded  Tem_encoded  Humidity_encoded  Windy_enoded
0                 2            1                 0             0
1                 2            1                 0             1
2                 0            1                 0             0
3                 1            2                 0             0
4                 1            0                 1             0
5                 1            0                 1             1
6                 0            0                 1             1
7                 2            2                 0             0
8                 2            0                 1             0
9                 1            2                 1             0
10                2            2                 1             1
11                0            2                 0             1
12                0            1                 1             0
13                1            2                 0             1

### Model Building

In [10]:
#Import Multinomial Naive Bayes model from sklearn
from sklearn.naive_bayes import MultinomialNB

#Create a Multinomial Bayes Classifier
mnb = MultinomialNB()

#### you may want to look at the description for MultinomialNB() to see what parameters you could tune for this model
https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html

### Model Evaluation

In [11]:
# import cross validation
from sklearn.model_selection import cross_val_score,cross_val_predict

In [12]:
score = cross_val_score(mnb,X,y,cv=3)

In [13]:
score.mean()

0.7999999999999999

#### Again, accuracy is not only the matrix we should rely or focus on, espectially for imbalanced dataset regarding the target variable and uneven cost for FP and FN. You should also look at the classification report

In [14]:
# import libararies for evaluation measures
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [15]:
y_pred = cross_val_predict(mnb,X,y,cv=3)

In [16]:
y_pred

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0])

In [17]:
# Lab quiz question 2
encoder = LabelEncoder()
instance = {'Outlook': 'overcast', 'Temperature': 'cool', 'Humidity': 'high', 'Windy': 'Yes'}
instance_transformed = []

for key, value in instance.items():
    encoder.fit(data[key])
    instance_transformed.append(encoder.transform([value])[0])

instance_transformed

[0, 0, 0, 1]

In [18]:
# Lab quiz question 2
mnb.fit(X, y)
y_pred_ex = mnb.predict([instance_transformed])[0]
y_pred_ex

1

In [ ]:
# write codes to create classification report
print(classification_report(y, y_pred))

In [ ]:
y_prob_pred = cross_val_predict(mnb, X,y,cv=3, method = 'predict_proba')

In [ ]:
y_prob_pred

#### Once you have the predict probabilities, you can use these to build ROC curve for furtuer evaluation

In [ ]:
from sklearn.metrics import roc_curve, auc
from sklearn import metrics

In [ ]:
# write codes to construct ROC curve

### Fit the model

In [ ]:
# train model using training dataset
mnb.fit(X, y)

In [ ]:
# Number of samples encountered for each class during fitting
mnb.class_count_

### Make Prediction

In [ ]:
# Predict class for new instance with "Outlook = overcast, Temperature = cool, humidity = high, Windy = No"

In [ ]:
# Predict class probability for new instance with "Outlook = overcast, Temperature = cool, humidity = high, Windy = No"