In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("store_data.csv",header = None) # as the dataset has no column name, we need to define our header 
dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
records = [] # create a list to store transaction records

for i in range(0,7500): # there are in total 7501 transactions
    records.append([str(dataset.values[i,j]) for j in range (0,19)]) # there are in total 20 items

In [4]:
records[:5]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach'],
 ['burgers',
  'meatballs',
  'eggs',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['chutney',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['turkey',
  'avocado',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['mineral water',
  'milk',
  'energy bar',
  'whole wheat rice',
  'green tea',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan']]

In [5]:
N = 'nan'

In [6]:
newrecords = [[ele for ele in sub if ele != N] for sub in records] # this is to remove all the 'nan' in the records

In [7]:
newrecords[:5]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach'],
 ['burgers', 'meatballs', 'eggs'],
 ['chutney'],
 ['turkey', 'avocado'],
 ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea']]

In [8]:
# import apriori algorithm 
from apyori import apriori

In [9]:
association_rules = apriori(newrecords,
                            min_support=0.0045, 
                            min_confidence=0.2,
                            min_lift=3,
                            max_length=5)  

association_results = list(association_rules)

In [10]:
# how many rules in total
print(len(association_results))

24

In [11]:
print(association_results[0])

RelationRecord(items=frozenset({'light cream', 'chicken'}), support=0.004533333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.2905982905982906, lift=4.843304843304844)])

- The support value for the first rule is 0.0045. This number is calculated by dividing the number of transactions containing light cream and chicken divided by total number of transactions. 
- The confidence level for the rule is 0.2905 which shows that out of all the transactions that contain light cream, 29.05% of the transactions also contain chicken. 
- Finally, the lift of 4.84 tells us that chicken is 4.84 times more likely to be bought by the customers who buy light cream compared to the default likelihood of the sale of chicken.

In [12]:
for item in association_results:

    # first index of the inner list
    # Contains base item and add item
    print("Rule: " + str(item[2][0][0]) + " -> " + str(item[2][0][1]))

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: frozenset({'light cream'}) -> frozenset({'chicken'})
Support: 0.004533333333333334
Confidence: 0.2905982905982906
Lift: 4.843304843304844
=====================================
Rule: frozenset({'mushroom cream sauce'}) -> frozenset({'escalope'})
Support: 0.005733333333333333
Confidence: 0.30069930069930073
Lift: 3.7903273197390845
=====================================
Rule: frozenset({'pasta'}) -> frozenset({'escalope'})
Support: 0.005866666666666667
Confidence: 0.37288135593220345
Lift: 4.700185158809287
=====================================
Rule: frozenset({'herb & pepper'}) -> frozenset({'ground beef'})
Support: 0.016
Confidence: 0.3234501347708895
Lift: 3.2915549671393096
=====================================
Rule: frozenset({'tomato sauce'}) -> frozenset({'ground beef'})
Support: 0.005333333333333333
Confidence: 0.37735849056603776
Lift: 3.840147461662528
=====================================
Rule: frozenset({'whole wheat pasta'}) -> frozenset({'olive oil'})
Support: 0.008
Confidence: 0.2714932126696833
Lift: 4.130221288078346
=====================================
Rule: frozenset({'pasta'}) -> frozenset({'shrimp'})
Support: 0.005066666666666666
Confidence: 0.3220338983050848
Lift: 4.506071338224134
=====================================
Rule: frozenset({'frozen vegetables', 'chocolate'}) -> frozenset({'shrimp'})
Support: 0.005333333333333333
Confidence: 0.23255813953488372
Lift: 3.2540784449843803
=====================================
Rule: frozenset({'cooking oil', 'ground beef'}) -> frozenset({'spaghetti'})
Support: 0.0048
Confidence: 0.5714285714285714
Lift: 3.281557646029315
=====================================
Rule: frozenset({'frozen vegetables', 'spaghetti'}) -> frozenset({'ground beef'})
Support: 0.008666666666666666
Confidence: 0.3110047846889952
Lift: 3.164906221394116
=====================================
Rule: frozenset({'frozen vegetables', 'milk'}) -> frozenset({'olive oil'})
Support: 0.0048
Confidence: 0.20338983050847456
Lift: 3.094165778526489
=====================================
Rule: frozenset({'mineral water', 'shrimp'}) -> frozenset({'frozen vegetables'})
Support: 0.0072
Confidence: 0.3050847457627119
Lift: 3.200189640867607
=====================================
Rule: frozenset({'frozen vegetables', 'spaghetti'}) -> frozenset({'olive oil'})
Support: 0.005733333333333333
Confidence: 0.20574162679425836
Lift: 3.1299436124887174
=====================================
Rule: frozenset({'frozen vegetables', 'spaghetti'}) -> frozenset({'shrimp'})
Support: 0.006
Confidence: 0.21531100478468898
Lift: 3.0127472684424763
=====================================
Rule: frozenset({'frozen vegetables', 'spaghetti'}) -> frozenset({'tomatoes'})
Support: 0.006666666666666667
Confidence: 0.23923444976076555
Lift: 3.497579674864993
=====================================
Rule: frozenset({'spaghetti', 'grated cheese'}) -> frozenset({'ground beef'})
Support: 0.005333333333333333
Confidence: 0.3225806451612903
Lift: 3.282706701098612
=====================================
Rule: frozenset({'herb & pepper', 'mineral water'}) -> frozenset({'ground beef'})
Support: 0.006666666666666667
Confidence: 0.390625
Lift: 3.975152645861601
=====================================
Rule: frozenset({'herb & pepper', 'spaghetti'}) -> frozenset({'ground beef'})
Support: 0.0064
Confidence: 0.3934426229508197
Lift: 4.003825878061259
=====================================
Rule: frozenset({'ground beef', 'milk'}) -> frozenset({'olive oil'})
Support: 0.004933333333333333
Confidence: 0.22424242424242424
Lift: 3.411395906324912
=====================================
Rule: frozenset({'ground beef', 'shrimp'}) -> frozenset({'spaghetti'})
Support: 0.006
Confidence: 0.5232558139534884
Lift: 3.004914704939635
=====================================
Rule: frozenset({'spaghetti', 'milk'}) -> frozenset({'olive oil'})
Support: 0.0072
Confidence: 0.20300751879699247
Lift: 3.0883496774390333
=====================================
Rule: frozenset({'mineral water', 'soup'}) -> frozenset({'olive oil'})
Support: 0.0052
Confidence: 0.2254335260115607
Lift: 3.4295161157945335
=====================================
Rule: frozenset({'pancakes', 'spaghetti'}) -> frozenset({'olive oil'})
Support: 0.005066666666666666
Confidence: 0.20105820105820105
Lift: 3.0586947422647217
=====================================
Rule: frozenset({'mineral water', 'spaghetti', 'milk'}) -> frozenset({'frozen vegetables'})
Support: 0.004533333333333334
Confidence: 0.28813559322033905
Lift: 3.0224013274860737
=====================================